* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #nombre-puesto {
        padding: 60px 0px;

    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    nav {
        display: none;
    }

    #nombre-puesto {
        padding: 70px 0px;

    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: #585858;
    color: #fefefe;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

.Puesto {
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
}

nav {
    margin: 0;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul {
    margin: 0px 50px 30px 27px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    border-right: 1px solid white;
}

nav li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.Info {
    background-color: #F2F2F2;
}

#Info {
    background-color: #F2F2F2;
    padding-bottom: 70px;
}

h2 {
    margin: 0px 40px 20px 40px;
    border-bottom: 2px solid black;
    padding-top: 65px;
}

p, h3 {
    margin: 0px 40px;
}

h4 {
    margin: 0px 40px 20px 40px;
}

.Contacto {
    list-style-type: none;
    margin: 0px 0px 15px 7px;
}


li {
    margin: 10px 0px;
}

span {
    color: #6E6E6E;
}

footer {
    background-color: #585858;
    height: 40px;
}

#perfil-nav {
    display: none;
}